<!-- Show error message if MailChimp unsuccessfully added the email to the list. -->
<div ng-show="mailchimp.result === 'error'" ng-cloak>
  <span ng-bind-html="mailchimp.errorMessage"></span>
</div>

<!-- Show success message if MailChimp returned successfully. -->
<div ng-show="mailchimp.result === 'success'" ng-cloak>
  <span ng-bind-html="mailchimp.successMessage"></span>
</div>

<form 
	name="MailchimpSubscriptionForm"
	ng-hide="mailchimp.result === 'success'"
	ng-submit="addSubscription(mailchimp)"
	layout="column"
	layout-padding>
    
	<md-input-container class="md-icon-float md-block">
		<label translate>First name</label>
	    <input 
	    	type="text" 
	    	name="fname" 
	    	ng-model="mailchimp.FNAME">
	</md-input-container>
	<md-input-container class="md-icon-float md-block">
		<label translate>Last name</label>
	    <input 
	    	type="text" 
	    	name="lname" 
	    	ng-model="mailchimp.LNAME">
	</md-input-container>
	<md-input-container class="md-icon-float md-block">
		<label translate>Email</label>
	    <input 
	    	type="email" 
	    	name="email" 
	    	ng-model="mailchimp.EMAIL" 
	    	required>
	</md-input-container>
    
    <div layout="row">
    	<span flex></span>
		<md-button 
			ng-disabled="MailchimpSubscriptionForm.$invalid" 
			ng-click="addSubscription(mailchimp)"
			class="" 
			aria-label="Add featrue">
			<span translate>Submit</span>
		</md-button>
    </div>
    <input 
    	ng-hide="true"
    	type="submit" 
    	ng-disabled="MailchimpSubscriptionForm.$invalid" 
    	ng-click="addSubscription(mailchimp)" />
</form>

